body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:"Outfit", sans-serif;
    line-height: 1.8rem;
    background-color: rgb(203, 218, 210);
     margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}
html{
    max-width: 1440px;
    max-height: fit-content;
    font-size: 62.5%;
    margin: 100px auto;
}

.container{
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-radius: 1.7rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1rem;
    margin: 1rem;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 1.5rem;
}

h1{
    font-size: 1.8rem;
    text-align: center;
    padding: 0 10px 0 10px
}

p{
    font-size: 1.5rem;
    text-align: center;
    margin-top:auto;
    color: rgb(73, 75, 75);
}