.container{
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1rem;
    margin: 1rem;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}